<section class="pt-4 mb-5 ftco-intro">
  <div class="container-fluid px-3 px-md-0">
    <div class="row">
      <div class="col-md-12 mb-4">

        <div class="registration-form">
          <form id="addProfileGeneral">
            <div class="form-icon">
              <span><img class="imgCuratorLogo" src="/administrator/images/curatorAddLogo.png" alt="logo"></span>
            </div>
            <div>
              <input type="text" autocomplete="new-name" class="form-control item inputCheckTG" name="chatId" placeholder="ID чату">
              <input type="button" class="form-control buttonCheckTG" value="Відправити повідомелння" onclick="sendMessageTG(this)">
            </div>
            <div class="form-group">
              <input type="text" autocomplete="new-text" class="form-control item" name="name" placeholder="Назва">
            </div>
            <div class="form-group">
              <select style="margin-right: 20px" class="form-control" name="curatorID">
                <option disabled selected value="-1">Виберіть куратора</option>
                <% curators.forEach(curator => { %>
                  <option value="<%= curator._id %>"><%= curator.name %></option>
                <% })%>
              </select>
            </div>

            <div class="form-group">
              <button disabled id="addProfileGeneralButton" type="button" class="btn btn-block create-account" onclick="addProfileGeneral()">Добавити профіль</button>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="profileAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 50px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Успішно</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Профіль упішно добавлений
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>