<!doctype html>
<html lang="en">
<head>
    <title>Website menu 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="administrator/css/style.css">
    <link rel="stylesheet" href="administrator/css/addCurator.css">

</head>
<body>
<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li><a href="/mainPage" onclick="editData(this)">Головна сторінка</a></li>
                <li><a href="/listCurator" onclick="editData(this)">Список кураторів<sup style="padding: 2px; color: #18d718;">Work</sup></a></li>
                <li><a href="/listTeacher" onclick="editData(this)">Список викладачів<sup style="padding: 2px; color: #d71818;">Disabled</sup></a></li>
                <li><a href="/listStudents"  onclick="editData(this)">Список студентів<sup style="padding: 2px; color: #d71818;">Disabled</sup></a></li>
                <li><a href="/listProfiles"  onclick="editData(this)">Список профілів<sup style="padding: 2px; color: #d71818;">Disabled</sup></a></li>
                <li><a href="/addCurator"  onclick="editData(this)">Добавити куратора<sup style="padding: 2px; color: #18d718;">Work</sup></a></li>
                <li><a href="/addProfile"  onclick="editData(this)">Добавити профіль<sup style="padding: 2px; color: #d71818;">Disabled</sup></a></li>
                <li><a onclick="localStorage.removeItem('POSTLink')" href="/logout">Вихід</a></li>
            </ul>
        </nav>
    </aside>

    <div id="colorlib-main">

    </div>
</div>

</section>

<script src="administrator/js/jquery.min.js"></script>
<script src="administrator/js/popper.js"></script>
<script src="administrator/js/bootstrap.min.js"></script>
<script src="administrator/js/main.js"></script>
<script src="administrator/server.js"></script>

</body>
</html>

