<!doctype html>
<html lang="en">
  <head>
  	<title>Modal 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	
		<link rel="stylesheet" href="../../../../../views/profileInfo/modalWindow/css/ionicons.min.css">
		<link rel="stylesheet" href="../../../../../views/profileInfo/modalWindow/css/style.css">
  </head>
  <body>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-body p-4 py-5 p-md-5">
	      	<h3 class="text-center mb-3">Конструктор повідомлень</h3>
			  <br>
	      	<div class="signup-form" id="formConstructorData">
	      		<div class="form-group mb-2 group-file">
	      			<label for="textarea">Текстове повідомлення</label>
					<textarea name="textarea" type="text" class="form-control" placeholder="Текстове повідомелння"></textarea>
	      		</div>
	      		<div class="form-group mb-2 group-file">
	      			<label for="image">Фото</label><br>
	      			<input name="images" multiple type="file" placeholder="Зображення">
	      		</div>
				<div class="form-group mb-2 group-file">
					<label for="image">Відео</label><br>
					<input name="videos" multiple type="file" placeholder="Відео">
				</div>
				<div class="form-group mb-2 group-file">
					<label for="image">Стікер</label><br>
					<input name="sticker" type="file" placeholder="Стікер">
				</div>
				<div class="form-group mb-2 group-file">
					<label for="image">Аудіо</label><br>
					<input name="audio" type="file" placeholder="Аудіо">
				</div>
				<div class="form-group mb-2">
					<button id="uploadButtonClick" class="form-control btn btn-primary rounded submit px-3">Добавити</button>
				</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

    <script src="../../../../../views/profileInfo/modalWindow/js/jquery.min.js"></script>
    <script src="../../../../../views/profileInfo/modalWindow/js/popper.js"></script>
    <script src="../../../../../views/profileInfo/modalWindow/js/bootstrap.min.js"></script>
    <script src="../../../../../views/profileInfo/modalWindow/js/main.js"></script>
  </body>
</html>